.btn_credit:hover {
}

.btn_credit:focus {
    background-color: rgb(130, 130, 130);
}

.btn_credit:active {
    background-color: rgb(134, 134, 134);
}

.btn_credit:inactive {
    background-color: rgb(87, 87, 87);
}